
<mat-form-field class="mat">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <!-- <form>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input type="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="search">
    </mat-form-field>
  </form> -->
  
  <div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort   matSortDirection="asc"
    matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="username">
      <mat-header-cell mat-sort-header *matHeaderCellDef>UserName</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
  
    
  </mat-table>
  <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons>
  </mat-paginator>
  
  </div>
